.blog{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #767676;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-wrapper{
    padding-top: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px;
    background: #fff;
    opacity: 0.7;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

.container .marketing{
    padding-top: 50px;
}

.navbar-brand{
    font-family: "Times New Roman", sans-serif;
    font-size: 30px;
}

.navbar-inverse .navbar-brand {
    color: #47b2e2;
}

.pt{
    border-radius: 30px;
    height: 30%;
    width: 30%;
    margin-bottom: 40%;
    margin-top: 230px;
    padding: 50px 50px 50px 50px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    animation-name: opacityahnge;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@media screen and (max-width: 600px) {
    .pt {width: 90%; height: 30%}
}

@keyframes opacityahnge {
    from{opacity: 0}
    to{opacity: 1}
}

.loginbtn{
    background: #00a100;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    margin-top: 30px;
    height: 60px;
    font-size: 20px;
    color: white;
}

.loginbtn:hover{
    background: green;
}


.form-control{
    height: 40px;
    padding: 30px 0 30px 0;
    font-size: 20px;
}

.loginH{
    padding-bottom: 50px;
    margin-top: -10px;
}

.navbar-right{
    margin-right: -70px;
}

.ptdashboard{
    padding-top: 30px;
    height: 100%;
    width: 50%;
    background-color: white;
    animation-name: opacityahnge;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}