.blog{
    position: absolute;
    width: 100%;
    height: 3000px;
    background-color: white;
    right: 0px;
    margin-top: -120px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #767676;
}
.navbar-wrapper{
    padding-top: 20px;
}

#block-for-slider {
    width: 1200px;
    height: 1000px;
    margin: 50px auto;
}

#viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#slidewrapper {
    position: relative;
    width: calc(100% * 6);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/6);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
    opacity: 0.3;
}

#next-btn{
    background-image: url('../img/next.png');
}

#prev-btn{
    background-image: url('../img/prev.png');
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px;
    background: #fff;
    opacity: 0.7;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

.container .marketing{
    padding-top: 50px;
}

.navbar-brand{
    font-family: "Times New Roman", sans-serif;
    font-size: 30px;
    position: absolute;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -300px;
}

.navbar-inverse .navbar-brand {
    color: #47b2e2;
}

.pt{
    border-radius: 30px;
    height: 500px;
    width: 500px;
    margin-top: 230px;
    padding: 50px 50px 50px 50px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    animation-name: opacityahnge;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes opacityahnge {
    from{opacity: 0}
    to{opacity: 1}
}

.loginbtn{
    background: #00a100;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    margin-top: 30px;
    height: 60px;
    font-size: 20px;
    color: white;
}

.loginbtn:hover{
    background: green;
}


.form-control{
    height: 40px;
    padding: 30px 0 30px 0;
    font-size: 20px;
}

.loginH{
    padding-bottom: 50px;
    margin-top: -10px;
}

.navbar-right{
    margin-right: -70px;
}

.ptdashboard{
    right: 0px;
    position: absolute;
    height: 500px;
    width: 100%;
    margin-top: 230px;
    padding: 50px 50px 50px 50px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    animation-name: opacityahnge;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}