{% extends 'layout.html' %}

{% block title %}Logout | {{ block.super }}{% endblock %}

{% block content %}
    <div class="container pt">
        <div class="row">
            <div class="col-md-6">
                <h2 class="loginH">Ты уверена?</h2>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Выход" class="btn loginbtn">
                </form>
            </div>
        </div>
    </div>
{% endblock %}